@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Training</h1>
    <p class="lead">This application helps keep track of company trainings and which employees have/have not attended.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Reports</h2>
        <p>
            Run reports that show you which employees have attended a given training, or which trainings an employee has attended.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Report")">Run Reports &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Employees</h2>
        <p>
            View a list of all current employees in the company.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Employee")">View Employees &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Trainings</h2>
        <p>
            View a list of all company trainigs.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Training")">View Trainings &raquo;</a></p>
    </div>
</div>