@using EmployeeTrainingTracker.Data.Models
@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>
<br />
<table id="employeeTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName @employee.LastName</td>
            </tr>
        }
    </tbody>    
</table>