@using EmployeeTrainingTracker.Data.Models
@model Training
@{
    Layout = null;
}

@using (Ajax.BeginForm("SaveTraining", "Training",
    new AjaxOptions
    {
        HttpMethod = "Post",
        OnSuccess = "saveTrainingSuccess",
        OnFailure = "saveTrainingFailure"
    }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="col-12">
        <strong>Name</strong>
        <br />
        @Html.TextBoxFor(m => m.Name)
        <br /><br />
        <strong>Date</strong>
        <br />
        @Html.TextBoxFor(m => m.Date, new { @type = "date", @Value = Model.Date.ToString("yyyy-MM-dd") })
        <hr />
        <div class="alert alert-danger" style="display:none;" id="addEditTrainingError"></div>
        <div class="row mx-0 justify-content-end">
            <button class="btn btn-success mr-2" type="submit">Submit</button>
            <button class="btn btn-secondary" type="button" onclick="$('#addEditTrainingModal').modal('hide');">Cancel</button>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#Date').datetimepicker
    });
</script>